<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404!</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="container">
      <div style="display: flex; flex-direction: column">
        <h1 style="color: #3f72af; font-size: 10rem">404</h1>
        <p style="color: #3f72af"><%= message %></p>
      </div>
      <a href="/" style="width: 300px">Return</a>
    </div>
  </body>
</html>
