<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Form</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="formContainer">
      <p>Make it sincere</p>
      <form action="/new" method="POST">
        <%- include('errors/error') %>
        <div class="formInput">
          <label for="to">To</label>
          <input type="text" id="to" name="to" required />
        </div>
        <div class="formInput">
          <label for="text">Message</label>
          <textarea
            id="text"
            name="text"
            cols="27"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="btnContainer">
          <a href="/">Back</a>
          <button type="submit">Send!</button>
        </div>
      </form>
    </div>
    <script>
      const textArea = document.querySelector("textarea");
      textArea.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
          document.querySelector("form").submit();
        }
      });
    </script>
  </body>
</html>
