:root {
  --bg: #f9f7f7;
  --second: #dbe2ef;
  --third: #3f72af;
  --fourth: #112d4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100svh;
  overflow: hidden;
  background-color: var(--bg);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body > p {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--third);
  font-weight: bold;
  font-style: italic;
  background-color: var(--second);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--second);
  width: 30vw;
  border-radius: 1rem;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  margin-top: 4rem;
  gap: 2rem;
}

.container > a {
  background-color: var(--second);
  padding: 1rem;
  text-decoration: none;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  color: var(--third);
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
}

.container > div {
  background-color: var(--second);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
}

.btnContainer {
  display: flex;
  gap: 1rem;
  margin: 1rem;

  position: absolute;
  bottom: 0;
  right: 0;
}

.btnContainer a {
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--third);
  width: 100px;
  text-align: center;
  color: var(--bg);
  font-size: 1.5rem;
  border-radius: 1rem;
}

.btnContainer button {
  padding: 0.5rem;
  background-color: var(--third);
  width: 100px;
  text-align: center;
  color: var(--bg);
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.formInput label {
  font-size: 1.5rem;
  font-style: italic;
}

.formInput input {
  padding: 0.5rem;
  width: 40%;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid var(--third);
  font-size: 1.5rem;
}

.formInput textarea {
  resize: vertical;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--third);
  width: 50%;
  font-size: 1.5rem;
}
