:root {
  --bg: #f9f7f7;
  --second: #dbe2ef;
  --third: #3f72af;
  --fourth: #112d4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;

  height: 100svh;
  background-color: var(--bg);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

svg {
  width: 24px;
  height: auto;
}

table {
  grid-area: 1/2;

  display: flex;
  height: fit-content;
  flex-direction: column;
  background-color: var(--second);
  margin-bottom: 2rem;
}

th[scope="col"] {
  font-weight: bold;
  font-style: italic;
  background-color: var(--third);
  border: 1px solid var(--fourth);
  color: var(--bg);
}

th.middle[scope="col"] {
  border-top: 1px solid var(--fourth);
  border-bottom: 1px solid var(--fourth);
}

th.middle {
  border: none;
  border-bottom: 1px solid var(--third);
}

th {
  padding: 1rem;
  border: 1px solid var(--third);
  border-top: none;
  font-weight: normal;
}

tr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

table caption {
  margin-bottom: 2rem;
}

.formContainer {
  grid-area: 1/2;
}

.formContainer > p {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--third);
  font-weight: bold;
  font-style: italic;
  background-color: var(--second);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--second);
  width: 100%;
  border-radius: 1rem;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  margin-top: 4rem;
  gap: 2rem;
  grid-area: 1/2;
}

.container > a,
.detailsContainer > h1 {
  background-color: var(--second);
  padding: 1rem;
  text-decoration: none;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  color: var(--third);
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
}

.container > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: var(--second);
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  text-align: center;
  gap: 2rem;
}

.btnContainer {
  display: flex;
  gap: 1rem;
  margin: 1rem;

  position: absolute;
  bottom: 0;
  right: 0;
}

.btnContainer > * {
  cursor: pointer;
}

.btnContainer a,
.detailsHome {
  text-decoration: none;
  padding: 0.5rem;
  background-color: var(--third);
  width: 100px;
  text-align: center;
  color: var(--bg);
  font-size: 1.5rem;
  border-radius: 1rem;
}

.btnContainer button {
  padding: 0.5rem;
  background-color: var(--third);
  width: 100px;
  text-align: center;
  color: var(--bg);
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.formInput label {
  font-size: 1.5rem;
  font-style: italic;
}

.formInput input {
  padding: 0.5rem;
  width: 40%;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid var(--third);
  font-size: 1.5rem;
}

.formInput textarea {
  resize: vertical;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--third);
  width: 50%;
  height: 200px;
  font-size: 1.5rem;
}

.messageCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--fourth);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.to {
  border-bottom: 1px solid;
  padding: 0.5rem;
  text-align: left;
  color: var(--bg);
  background-color: var(--third);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.to span {
  font-style: italic;
  font-weight: bolder;
}

.footCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--fourth);
  padding: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
  font-style: italic;
}

.message {
  height: 100px;
  padding: 0.5rem;
}

.detailsContainer {
  margin-top: 4rem;
  grid-area: 1/2;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsHome {
  text-align: center;
  padding: 1rem;
  width: 200px;
  border-radius: 3rem;
}

@media (width <= 1150px) {
  body {
    grid-template-columns: 1fr;
  }

  table {
    width: 100%;
  }

  .detailsContainer {
    grid-area: unset;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .formContainer {
    grid-area: unset;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .container {
    grid-area: unset;
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .container > div {
    grid-template-columns: repeat(2, 1fr);
  }

  .btnContainer {
    position: unset;
    margin: 0;
  }
}

@media (width <= 650px) {
  body {
    grid-template-columns: 1fr;
  }

  .container {
    grid-area: unset;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .container > div {
    grid-template-columns: 1fr;
  }

  .formInput textarea {
    width: 80%;
  }
}
